<form action="demo.hbs">
	<table align="center" border="2px" style="background-color: lightgray; color: black; font-style: italic; border-style: solid; ">
		<tr>
			<td>Name</td>
			<td><input type="text" name="name" required placeholder="enter your name"></td>
		</tr>
		<tr>
			<td>Fathers Name</td>
			<td><input type="text" name="fname" required placeholder="enter Fathers name"></td>
		</tr>
		<tr>
			<td>Mothers Name</td>
			<td><input type="text" name="mname" required placeholder="enter Fathers name"></td>
		</tr>
		<tr>
			<td>Contact no.</td>
			<td><input type="number" name="mobile" required placeholder="enter your no"></td>
		</tr>
		<tr>
			<td>Gender</td>
			<td><select name="gender">
 <option>Male</option>
 <option>Female</option>
 </select></td>
		</tr>
		<tr>
			<td>e-mail</td>
			<td><input type="email" name="email" placeholder="enter your e-mail"></td>
		</tr>
		
		<tr>
			<td>Blood group</td>
			<td>
				<select name="bgroup">
 <option>A+</option>
 <option>A-</option>
 <option>B+</option>
 <option>B-</option>
 <option>AB+</option>
 <option>AB-</option>
 <option>O-</option>
 </select>
				</td>
		</tr>
		<tr>
			<td>Address</td>
			<td><textarea rows="5" cols="25" name="address"></textarea></td>
		</tr>
			
		</tr>
		<tr>
			<td align="center"><button>Add new donor</button></td></tr>
		
	</table>
</form>
